body{
    min-height: 150vh;
    max-height: auto;
    background-color:  rgb(218, 218, 218);
   
}

.depre{
    min-height: 130vh;
    width: 120vh;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 6px;
    overflow-y:visible;
}


.titulo{
    margin-bottom: 65px;
}

.btn{
    background-color: #1d75e9;
}
.btn:hover{
    background-color: #03316d;
}

table thead {
    background-color: #001b48 !important;
    color: white;
}

.custom-gap {
    margin: 0 -5px;
    width: 34.2%;
}

.codigobtn{
    transform: translateY(33px);
    position: relative;
}

 .codigobtn #botoncodigo{
    position: absolute;
    left: 0;
    
}